<form action="/users" method="POST" >
 <input type="text" name="user[username]" placeholder ="username">
 <input type="password" name="user[password_hash]"placeholder="password">
 <input type="submit" value="Sign Up">
</form>
