</br></br></br>

<div class="row">
  <div id="login" style="display: none" class="small-6 small-offset-3 columns">
    <h3>Welcome back</h3>
    <form method="post" action="/login">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Login!" class="button success">
    </form>
  </div>
</div>

<div class="row">
  <div id="signup" class="small-6 small-offset-3 columns">
    <h3>Let's hatch something together</h3>
    <form method="post" action="/sign_up">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Sign up!" class="button success">
    </form>
  </div>

</div>

