  <br><br><br>
  <div class="small-2 small-offest-6 columns">
    <p>Welcome back!</p>
    <form method="post" action="/login">
      <input type="text" name="username" placeholder="Username">
      <input type="password" name="password" placeholder="Password">
      <input type="submit" value="Login!" class="button success">
    </form>
  </div>